
.contact-now{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fdf0e9;
    .rectangle{
        background-color: #ef6d58;
        height: 400px;
        width: 1000px;
        display: flex;
        flex-direction: row;
        gap: 150px;
        align-items: center;
        padding: 100px;
        .text-content{
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: #FFF;
            h2{
                font-size: 56px;
                font-weight: 800;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                opacity: 64%;
            }
            a{
                font-size: 14px;
                font-weight: 900;
                color: #391400;
                background-color: #FFF;
                padding: 10px 30px;
            }
        }
        .img{
            padding: 25px;
            .image{
                background-image: url(/assets/imgs/contact-now/pic.svg);
            height: 430px;
            width: 440px;
            }
        }
    }
}