footer{
    background-color: #fdf0e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding-top: 125px;
    p,a{
       color: #391400;
    }
}

@media screen and (max-width:970px) {
    footer{
        flex-direction: column;
        padding-top: 150px;
    }
}