nav {
    position: fixed;
    width: 100%;

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55px;
        background-color: #28293e;
        border: 1px solid white;

        .logo {
            background-image: url(/assets/imgs/navbar/logo.svg);
            width: 150px;
            height: 48px;
        }

        .menu {
            justify-content: space-between;
            word-spacing: 75px;

            a {
                color: #FFFFFF;
                font-size: 16px;
            }
        }

        .contact {
            a {
                border: 1px solid #FFFFFF;
                border-radius: 5px;
                padding: 10px 20px 10px 20px;
                font-weight: 900;
                color: #FFFFFF;
            }
        }
        .checkbtn{
            font-size: 32px;
            cursor: pointer;
            display: none;

        }
        #check{
            display: none;
        }
    }
}

@media screen and (max-width: 970px) {
    nav {
        .navbar {
            .menu {
                display: none;
            }
            .contact{
                display: none;
            }
            .checkbtn{
                display: block;
            }      
        }
    }
}